parrafo{
    border: 1px solid black;
    text-align: center;
    margin: 10px;
    padding: 15px;
    color: turquoise;
    font-size: larger;
    font-weight: 500;
}

div{
    border: 2px solid gray;
    color: brown;
    font-family: sans-serif;
}

span ul li{
    color: aqua;
    font-style: oblique;
    font-weight: 700;
}